{
    "plugins":[
        "@babel/plugin-transform-modules-commonjs", 
        "@babel/plugin-proposal-class-properties"
    ],
    "presets":[
        "@babel/env",
        "@babel/react"
    ],
    "ignore": ["node_modules"]
}